*{
    margin: 0;
    padding: 0;
}
body{
    background: url(./bg.jpg);
    background-size: cover;
    height: 1019px;
}
.container{
    background: rgba(0,0,0,0.7);
    height: 700px;
    width: 900px;
    margin: auto;
    margin-top: 150px;
    border-radius: 50px;
}
h1,h2,#res{
    color: white;
    padding-top: 40px;
}
.logo{
    display: flex;
    justify-content: space-between;
}
#rcb{
    margin-left: 95px;
    margin-top: 30px;
}
#srh{
    margin-right: 80px;
    margin-top: 30px;
}
h2{
    padding-top: 150px;
}
h3{
    color: white;
}
.SCORE-CARD{
    display: flex;
    
}

#SCORE_ALIGN, .BUTTONS{
    display: flex;
    justify-content: space-between;

}
#b{
    padding-left:35px;
    padding-right: 30px;
    padding-top: 30px;
}
input[type=submit]{
    height: 40px;
    width: 300px;
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 60px;

}
#BATTING{
   background: red;
}
#refresh{
    background: orange;
}
